/* Slider */

#slider {
    width: 96%;
    height: 296px;
    overflow: hidden;
}

@keyframes load {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

#slider {
    margin: 10px auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(110, 110, 110, 0.3);
}

.slides {
    width: 400%;
    height: 100%;
    -webkit-animation: slide 10s infinite;
    -moz-animation: slide 10s infinite;
    animation: slide 10s infinite;
}

.slider {
    width: 25%;
    height: 100%;
    float: left;
    z-index: 1;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide img {
    width: 96%;
    height: 100%;
}

.image {
    width: 96%;
    height: 296px;
}

.image img {
    width: 105%;
    height: 100%;
}


/* Animation */

@-webkit-keyframes slide {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    46% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    71% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    96% {
        margin-left: -300%;
    }
}

@-moz-keyframes slide {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    46% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    71% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    96% {
        margin-left: -300%;
    }
}

@keyframes slide {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    46% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    71% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    96% {
        margin-left: -300%;
    }
}

@-webkit-keyframes content-s {
    0% {
        left: -420px;
    }
    10% {
        left: 0px;
    }
    30% {
        left: 0px;
    }
    40% {
        left: 0px;
    }
    50% {
        left: 0px;
    }
    60% {
        left: 0px;
    }
    70% {
        left: 0;
    }
    80% {
        left: -420px;
    }
    90% {
        left: -420px;
    }
    100% {
        left: -420px;
    }
}

@-moz-keyframes content-s {
    0% {
        left: -420px;
    }
    10% {
        left: 0px;
    }
    30% {
        left: 0px;
    }
    40% {
        left: 0px;
    }
    50% {
        left: 0px;
    }
    60% {
        left: 0px;
    }
    70% {
        left: 0;
    }
    80% {
        left: -420px;
    }
    90% {
        left: -420px;
    }
    100% {
        left: -420px;
    }
}

@keyframes content-s {
    0% {
        left: -420px;
    }
    10% {
        left: 20px;
    }
    15% {
        left: 0px;
    }
    30% {
        left: 0px;
    }
    40% {
        left: 0px;
    }
    50% {
        left: 0px;
    }
    60% {
        left: 0px;
    }
    70% {
        left: 0;
    }
    80% {
        left: -420px;
    }
    90% {
        left: -420px;
    }
    100% {
        left: -420px;
    }
}

@-webkit-keyframes on {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: 15px;
    }
    46% {
        margin-left: 15px;
    }
    50% {
        margin-left: 30px;
    }
    71% {
        margin-left: 30px;
    }
    75% {
        margin-left: 45px;
    }
    96% {
        margin-left: 45px;
    }
}

@-moz-keyframes on {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: 15px;
    }
    46% {
        margin-left: 15px;
    }
    50% {
        margin-left: 30px;
    }
    71% {
        margin-left: 30px;
    }
    75% {
        margin-left: 45px;
    }
    96% {
        margin-left: 45px;
    }
}

@keyframes on {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: 15px;
    }
    46% {
        margin-left: 15px;
    }
    50% {
        margin-left: 30px;
    }
    71% {
        margin-left: 30px;
    }
    75% {
        margin-left: 45px;
    }
    96% {
        margin-left: 45px;
    }
}


/*transision*/

.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image-1 image-2 image-3 image-4";
    grid-gap: 10px;
}

.product>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: red;
}

.product>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-product {
    grid-area: image-1;
    transition: all 0.2s ease-in-out;
}

.main-product:hover {
    transform: scale(1.1);
}